:root {
  --color-black: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 100%);
  --color-darken: hsl(0, 0%, 20%);

  --color-teal-100: hsl(160, 85%, 87%);
  --color-teal-200: hsl(162, 78%, 77%);
  --color-teal-300: hsl(162, 72%, 65%);
  --color-teal-400: hsl(162, 68%, 54%);
  --color-teal-500: hsl(162, 73%, 46%);
  --color-teal-600: hsl(162, 82%, 40%);
  --color-teal-700: hsl(162, 87%, 35%);
  --color-teal-800: hsl(162, 88%, 30%);

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  background: var(--color-white);
}

.header a,
.header button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.header img,
.header video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: var(--color-teal-800);
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: grid;
  align-content: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: var(--color-white);
  box-shadow: var(--shadow-medium);
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: var(--color-black);
}

.menu-link.is-active {
  position: relative;
  color: var(--color-teal-800);
  transition: all 0.35s ease;
}

.menu-icon {
  font-size: 1.35rem;
  line-height: 1;
  color: inherit;
}

.menu-name {
  display: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  visibility: hidden;
  text-transform: capitalize;
}

@media only screen and (min-width: 360px) {
  .menu-name {
      display: block;
      visibility: visible;
  }
}

@media only screen and (min-width: 576px) {
  .menu-list {
      justify-content: center;
      column-gap: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .header {
      background: var(--color-white);
      box-shadow: var(--shadow-medium);
      transition: all 0.35s ease-in-out;
  }

  .menu {
      position: relative;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      background: none;
      box-shadow: none;
  }

  .menu-link.is-active::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 2rem;
      height: 2px;
      border: none;
      outline: none;
      background: var(--color-teal-800);
  }

  .menu-link:hover {
      color: var(--color-teal-800);
      transition: all 0.35s ease;
  }

  .menu-icon {
      display: none;
      visibility: hidden;
  }

  .menu-name {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.2rem;
  }
}


/* start background */
.landing {
  background: #000;
  overflow: hidden;
  
}
.background {
  animation: skew 20s alternate infinite ease-in-out;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to left,
      #fff 0,
      #fff 10px,
      transparent 10px,
      transparent 20px
    ),
    linear-gradient(#fff 0, #fff 10px, #000 10px, #000 20px);
  background-size: 20px 20px;
  background-position: center;
}
@keyframes skew {
  from {
    transform: skew(0);
  }
  50% {
    background-size: 100% 100%;
  }
  to {
    transform: skew(180deg);
  }
}
/* end background */
.landing .title {
  user-select: none;
  text-transform: uppercase;
  font-size: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-wrap: balance;
  font-weight: 900;
  mix-blend-mode: difference;
  color: white;
  line-height: 1.3em;
  letter-spacing: 0.1ch;
}
html {
  font-family: system-ui, sans-serif;
}






 @import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@300;400;500;600;700&display=swap");

 *,
 *::before,
 *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .third {
  position: relative;
  width: 100%; /* Adjust width as needed */
  height: 100vh; /* Adjust height as needed */
  overflow: hidden; /* Ensure content doesn't overflow */
}
 
 .swiper {
   display: flex;
   align-items: center;
   position: relative;
   justify-content: center;
   font-size: 14px;
   color: #000;
   min-height: 100vh;
   /* background-image: linear-gradient(
     120deg,
     rgba(7, 7, 9, 1) 16%,
     rgba(27, 24, 113, 1) 96%
   ); */
   background:transparent;
   background-repeat: no-repeat;

 }
 
 #particles-js {
   position: absolute;
   width: 100%;
   height: 100%;
   background:transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   z-index: -1;
 }

 .swiper {
   width: 100%;
   height: 100%;
 }
 
 .swiper-slide {
   position: relative;
   display: grid;
   grid-template-columns: 45% 50%;
   place-items: center;
   gap: 40px;
   overflow: hidden;
   padding: 130px 60px;
 }
 
 .content {
   padding: 0 50px;
   font-family: "Montserrat", sans-serif;
 }
 
 .content h1 {
   font-family: "Courgette", cursive;
   font-size: clamp(2.3rem, 5vw, 4rem);
   line-height: 1.3;
   margin-bottom: 30px;
   color: #f6af61;
   pointer-events: none;
 }
 
 .content p {
   font-family: inherit;
   font-size: clamp(1.1rem, 3vw, 0.9rem);
   font-weight: 400;
   line-height: 1.5;
   margin-bottom: 30px;
   color: #bababb;
   text-align: justify;
   pointer-events: none;
 }
 
 .swiper-slide .content h1 {
   transform: translateY(-40px);
   opacity: 0;
   transition-duration: 1s;
   transition-delay: 0.6s;
 }
 
 .swiper-slide .content p {
   transform: translateY(-30px);
   opacity: 0;
   transition-duration: 1s;
   transition-delay: 1.2s;
 }
 
 .swiper-slide-active .content h1,
 .swiper-slide-active .content p {
   transform: none;
   opacity: 1;
 }
 
 .image-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 5px;
 }
 
 .item {
   max-width: 100%;
   aspect-ratio: 4/3;
   border-radius: 6px;
   pointer-events: none;
   opacity: 0;
 }
 
 .swiper-slide-active .item {
   animation: fadeIn 0.5s linear 1 forwards;
   animation-delay: calc(1.4s + (0.1s * var(--i)));
 }
 
 @keyframes fadeIn {
   0% {
     opacity: 0;
     transform: scale(0);
   }
   100% {
     opacity: 1;
     transform: scale(1);
   }
 }
 
 /* BUTTON */
 
 .btn {
   max-width: max-content;
   padding: 1rem 2rem;
   border-radius: 0.5rem;
   border: none;
   font-size: 1rem;
   font-weight: 400;
   color: #f4f0ff;
   text-align: center;
   backdrop-filter: blur(10px);
   cursor: pointer;
 }
 
 .btn::before,
 .btn::after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   border-radius: 0.5rem;
   background: linear-gradient(
       180deg,
       rgba(8, 77, 126, 0) 0%,
       rgba(247, 185, 118, 0.4) 100%
     ),
     rgba(247, 213, 118, 0.2);
   box-shadow: inset 0 0 8px rgba(247, 163, 118, 0.4);
   z-index: -1;
 }
 
 .btn::after {
   opacity: 0;
   transition: all 0.3s ease-in;
 }
 
 .btn:hover::after {
   opacity: 0.8;
 }
 
 .btn-border {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   border-radius: 0.5rem;
   z-index: -1;
 }
 
 .btn-border::before {
   content: "";
   position: absolute;
   border-radius: 0.5rem;
   padding: 1px;
   inset: 0;
   background: linear-gradient(
       180deg,
       rgba(247, 176, 118, 0.2) 0%,
       rgba(184, 238, 255, 0) 100%
     ),
     linear-gradient(0deg, rgba(247, 176, 118, 0.3), rgba(247, 176, 118, 0.4));
   mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
   -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
   mask-composite: xor;
   -webkit-mask-composite: xor;
   pointer-events: none;
 }
 
 .swiper-slide .btn {
   transform: translateY(-30px);
   opacity: 0;
   transition-duration: 0.8s;
   transition-delay: 1.6s;
 }
 
 .swiper-slide-active .btn {
   transform: none;
   opacity: 1;
 }
 
 @media (max-width: 1200px) {
   .swiper-slide {
     grid-template-columns: 40% 55%;
     gap: 60px;
     padding: 130px 60px;
   }
 
   .content {
     padding: 0 30px 0 0;
   }
 
   .item {
     max-width: 180px;
   }
 }
 
 @media (max-width: 1030px) {
   .swiper-slide {
     padding: 110px 60px;
   }
 
   .content p {
     text-align: initial;
   }
 
   .item {
     max-width: 150px;
   }
 
   .btn {
     padding: 0.8rem 1.5rem;
   }
 }
 
 @media (max-width: 960px) {
   .swiper-slide {
     gap: 30px;
     padding: 110px 40px 90px;
   }
 
   .item {
     max-width: 130px;
   }
 
   .btn {
     padding: 0.8rem 1.3rem;
     font-size: 0.9rem;
   }
 }
 
 @media (max-width: 710px) {
   .swiper-slide {
     grid-template-columns: 100%;
     grid-template-rows: 35% 60%;
     grid-template-areas:
       "imageContainer"
       "content";
     gap: 30px;
     padding: 80px 40px;
   }
 
   .content {
     grid-area: content;
     padding: 0 20px 0 0;
   }
 
   .content h1 {
     text-align: center;
     margin-bottom: 20px;
   }
 
   .content p {
     text-align: center;
   }
 
   .image-container {
     grid-area: imageContainer;
   }
   
   .item {
     max-width: 110px;
   }
 
   .btn {
     padding: 0.8rem 1rem;
     margin: 0 auto;
   }
 }
 
 @media (max-width: 580px) {
    .swiper-slide {
     grid-template-rows: 40% 55%;
     padding: 50px 20px 40px;
   }
   
   .item {
     max-width: 80px;
   }
   
 }
 
 @media (max-width: 440px) {
    .swiper-slide {
     grid-template-rows: 35% 60%;
     padding: 50px 20px 40px;
   }
   
   .item {
     max-width: 80px;
   }
   
   .content p {
     font-size: 0.9rem;
   }
 }














 


.serv {
  margin-top: 15px;
  margin-bottom: 50px;
  background: #272525 !important;
  /* margin: 0; */
  padding: 0;
  font-family: sans-serif;
}



.serv h1 {
  text-align: center;
  margin: 50px auto 120px;
  color: #fff;
  text-transform: uppercase;
}

.main {
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.service {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #222223;
  transition: transform .8s;
}

/* Mengatur posisi logo service */
.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #272829;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Membuat border title */
.service h4 {
  height: 35px;
  width: 80%;
  margin: 50px auto;
  background: #fff;
  position: relative;
}

.service h4::after,
.service h4::before {
  content: '';
  width: 40px;
  height: 30px;
 position: absolute;
 z-index: -1;
}

.service h4::after {
  background: linear-gradient(to right, #fff, #2a2a2b);
  right: -5px;
  top: -5px;
}

.service h4::before {
  background: linear-gradient(to right, #181819, #fff);
  left: -5px;
  bottom: -5px;
}


/* membuat shadow untuk service */
.main::after {
  content: '';
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #18181a;
  transition: transform .8s;
}
.main::before {
  content: '';
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover::after {
  transform: translateY(-25px);
}

.service-logo img {
  transition: transform 1s;
}

.main:hover .service-logo img {
  transform: rotate(360deg);
}








/*whatsapp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



.foot{
  margin-top: 80px !important;
  font-size: 10px;
}

.footer{
  
  font-size: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
}

.footer .icons{
  padding-top: 1rem;
}

.footer .icons a{
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name{
  font-size: 1.0rem;
  margin-top: 0.5rem;
}

@media (max-width: 500px){
 
}    

@media(min-width: 501px) and (max-width: 768px){
  .footer{
    margin-bottom: 70px;

  }
}    
